* {
    margin: 0;
    padding: 0;
}
html {

    /*background-color: red;*/
    height: 100%;
}
body {
    overflow: hidden;    /*background-color: #0018fc;*/
    height: 100%;
}
.css_sprite {
    background-image: url(../img/css_sprite.png) !important;
    background-repeat: no-repeat !important
}
.u-audio {
    position: absolute;
    top: 0;
    right: 0;
    width: 132px;
    height: 73px;
    z-index: 999
}
.u-audio .res_audio {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 0;
    width: 0
}
.u-audio .btn_audio {
    width: 100%;
    padding-top: 29px;
    height: 44px
}
.u-audio .btn_audio strong, .u-audio .btn_audio .audio_open {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    vertical-align: middle
}
.u-audio .btn_audio strong {
    width: 57px;
    font-size: 24px;
    color: #fff;
    opacity: 1
}
.u-audio .btn_audio .audio_open {
    position: absolute;
    bottom: 0;
    left: 56px;
    width: 44px
}
.u-audio .btn_audio strong.z-hide {
    opacity: 0
}
.u-audio .btn_audio strong.z-move {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s
}
.u-audio.z-low {
    z-index: 1
}

.f-op0 {
    opacity: 0;
}
.f-ofh {
    overflow: hidden;
    height: 100% !important
}
.f-hide {
    display: none !important;
}

.f-blur{
    -webkit-filter: blur(20px); /* Chrome, Opera */
    -moz-filter: blur(20px);
    -ms-filter: blur(20px);    
    filter: blur(20px);
}
.container {
    position: relative;
    overflow: hidden;
    width: 640px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
}
.loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#flower {
    display: block;
    width: 100px;
    height: 100px;
    margin: 45% auto;
}
.cloud {
    width: 640px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 800;
}

.cloudc {
    width: 640px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.cloud img {
    width: 200%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
#cloud1 {
    transform: translateX(640px);
    -webkit-transform: translateX(640px);
}
#cloud2 {
    transform: translateX(-1280px);
    -webkit-transform: translateX(-1280px);
}


/*.text {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 200px;
    font: normal bold 36px "微软雅黑", arial, sans-serif;
    color: black;
    top: 15%;
    z-index: 999;
}
#text1, #text2 {
    top: 55%;
}
*/

.tip{
    position: absolute;
    display: block;
    z-index: 999;
    width: 100%;
    height: 960px;
}


.trans{
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}



.blurimg,.wenanimg{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}


.flipbook {
    position: absolute;
    width: 640px;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #d7d7d7;
    z-index: 1;
}
.flipbook .page {
    width: 100%;
    height: 100%;
    background-color: #d7d7d7;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    left: 0;
}
.flipbook .page {

    /*-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/

    /*-moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/

    /*-ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/

    /*-o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/

    /*box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);*/
}
.flipbook .page img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.divmask {
    position: absolute;
    top: 0px;
    left: 0px;
}